<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout https://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
</head>
<body>
    <h2>Vehicle List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Vehicle Id</th>
            <th scope="col">Vehicle Name</th>
            <th scope="col">Vehicle Mileage</th>
            <th scope="col">Vehicle Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course: ${courses}">
            <th scope="row" th:text="${course.courseId}"></th>
            <td th:text="${course.name}"></td>
            <td th:text="${course.instructor}">Otto</td>
        </tr>
        </tbody>
    </table>
</body>
</html>