<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Registration</title>
</head>
<body>
<div class="container">
    <div class="text-center mt-5">
        <h1>Vehicle Registration</h1>
        <form action="vehicleregistration" method="POST" th:object="${vehicle}">
            <label>Vehicle Make</label>
            <input type="text" class="form-control" name="make" th:field="*{vehicleMake}" />
            <label>Vehicle Model</label>
            <input type="text" class="form-control" name="model" th:field="*{vehicleModel}" />
            <label>Vehicle Type</label>
            <input type="text" class="form-control" name="type" th:field="*{vehicleType}" />
            <label>Vehicle Year</label>
            <input type="text" class="form-control" name="year" th:field="*{vehicleYear}" />
            <label>Vehicle Mileage</label>
            <input type="text" class="form-control" name="mileage" th:field="*{vehicleMileage}" />
            <input type="submit" name="Submit" />
        </form>
    </div>
</div>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</body>
</html>